[submodule "backbone-todo"]
	path = backbone-todo
	url = https://github.com/adamgriffis/backbone-todo.git
[submodule "ObidiahCareerDayGameDemo"]
	path = ObidiahCareerDayGameDemo
	url = https://github.com/adamgriffis/ObidiahCareerDayGameDemo.git
[submodule "angular-todo"]
	path = angular-todo
	url = https://github.com/adamgriffis/angular-todo.git
